@font-face {
  font-family: Inter;
  src: url(assets/font/Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
  font-family: Inter-italic;
  font-style: italic;
  src: url(assets/font/Inter-VariableFont_slnt,wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;

}

html {
  scroll-behavior: smooth;
  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.lock {
  overflow-y: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: #E1D4C9;
}

.header,
.main,
.footer {
  width: 100%;
  max-width: 1440px;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 20px 40px;
}

.link,
.link-footer {
  position: relative;
  cursor: default;
}

.link::after,
.link-footer::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #403F3D;
  content: '';
  opacity: 0;
  transform: scaleX(0);
  transition: 0.5s;
}

.link-footer::after {
  background-color: #E1D4C9;
}

.burger-button {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 44px;
  height: 44px;
  border: 1px solid #665F55;
  border-radius: 100px;
  transition: 0.5s;
}

.burger-button-active {
  gap: 11px;
}

.burger-button * {
  width: 18px;
  height: 1.7px;
  margin-right: 0;
  background-color: #403F3D;
  border-radius: 2px;
  transition: 0.5s;
  transform-origin: right;
}

.burger-button-active :nth-child(1) {
  margin-right: 4px;
  transform: rotate(-45deg);
}

.burger-button-active :nth-child(2) {
  margin-right: 4px;
  transform: rotate(45deg);
}

.burger-menu-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav {
  width: 100%;
  margin-top: -3px;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding-left: 0;
}

.nav-item a {
  text-decoration: none;
  font-family: Inter, sans-serif;
  color: #403F3D;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  cursor: default;
}

.logo {
  margin-top: 3px;
}

.menu-link-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -2px;
  text-decoration: none;
  font-family: Inter, sans-serif;
  color: #403F3D;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  cursor: default;
}

.header-coffee-icon {
  margin-top: -6px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 0 40px;
}

.enjoy-section {
  position: relative;
  width: 100%;
  max-width: 1360px;
  height: 644px;
  overflow: hidden;
  z-index: 0;
  padding: 100px;
  background-image: url(assets/img/img-hero.png);
  background-color: rgba(211, 211, 211, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
}

.enjoy-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.enjoy-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 530px;
  gap: 40px;
  z-index: 5;
}

.main-text {
  font-family: Inter, sans-serif;
  font-size: 60px;
  color: #403F3D;
  font-weight: 600;
  line-height: 125%;
}

.special-text {
  font-family: Inter-italic, sans-serif;
  font-size: 60px;
  color: #B0907A;
  font-weight: 600;
  line-height: 105%;
}

.additional-text {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #403F3D;
  font-weight: 400;
  line-height: 150%;
}

.enjoy-block p.additional-text {
  margin-top: 1px;
  color: #E1D4C9;
}

.enjoy-block .main-text {
  color: #E1D4C9;
  line-height: 105%;
  font-size: 72px;
}

.enjoy-block .special-text {
  font-size: 72px;
}

.menu-link-enjoy {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  background-color: #E1D4C9;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.menu-link-enjoy span {
  transition: 0.5s;
}

.enjoy-coffee-icon {
  position: absolute;
  right: 64px;
  opacity: 0;
  transition: 0.5s;
}

.additional-text-2 {
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: #403F3D;
}

.favorite-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.favorite-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  overflow-x: hidden;
}

.slider-wrapper {
  display: flex;
  width: 480px;
  overflow: hidden;
  transition: 0.1s linear;
}

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 480px;
  transition: transform 0.7s, left 0.1s linear;
}

.slider-img {
  width: 480px;
  height: 480px;
  user-select: none;
}

.slider-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 480px;
  margin-top: 1px;
}

.slider-description p {
  text-align: center;
}

.left-arrow,
.right-arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  margin-top: -45px;
  transition: 0.4s;
  fill: transparent;
}

.left-arrow path,
.right-arrow path {
  transition: 0.4s;
}

.left-arrow {
  left: 5px;
}

.right-arrow {
  right: 5px;
}

.pagination-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.pag {
  position: relative;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: #C1B6AD;
}

.pag-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 100px;
  background-color: #665F55;
  transition: 0.1s linear;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.about-img-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -1px;
}

.about-img-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.img-unit-1,
.img-unit-2,
.img-unit-3,
.img-unit-4 {
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  border-radius: 20px;
  transition: 0.9s;
}

.img-unit-1 {
  width: 660px;
  height: 590px;
  background-image: url(assets/img/about-1.png);
}

.img-unit-2 {
  width: 660px;
  height: 430px;
  background-image: url(assets/img/about-2.png);
}

.img-unit-3 {
  width: 660px;
  height: 430px;
  background-image: url(assets/img/about-3.png);
}

.img-unit-4 {
  width: 660px;
  height: 590px;
  background-image: url(assets/img/about-4.png);
}

.mobile-app-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mobile-app-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 630px;
}

.mobile-app-info .main-text {
  width: 600px;
}

.mobile-app-links {
  display: flex;
  gap: 20px;
}

.app-store-block,
.google-play-block {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 200px;
  height: 64px;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid #665F55;
  transition: 0.9s;
}

.app-description-block {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.app-description-block :nth-child(1) {
  color: #403F3D;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  transition: 0.9s;
}

.app-description-block :nth-child(2) {
  color: #403F3D;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  transition: 0.9s;
}

.app-icon {
  width: 36px;
  height: 36px;
  fill: transparent;
}

.app-icon path {
  transition: 0.9s;
}

.footer {
  margin-top: 100px;
  padding: 0 40px 40px 40px;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-color: #665F55;
  border-radius: 40px;
}

.footer-container-1,
.footer-container-2 {
  width: 50%;
}

.footer-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.footer-container-1 .main-text {
  color: #E1D4C9;
}

.social-block {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.social-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #C1B6AD;
  transition: 0.6s;
}

.social-link {
  width: 24px;
  height: 24px;
  fill: none;
  transition: 0.6s;
}

.social-link path {
  transition: 0.6s;
}

.footer-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 530px;
  margin-top: -3px;
}

.footer-container-2 .additional-text-2 {
  text-align: left;
  color: #E1D4C9;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts-block p,
.contacts-block a {
  display: flex;
  width: max-content;
  color: #E1D4C9;
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.contact-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
/* Menu page*/

.menu-page-main {
  gap: 40px;
}

.offer-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.load-progress {
  position: absolute;
  bottom: -15px;
  left: 0;
  content: '';
  width: 0%;
  height: 3px;
  opacity: 0;
  background-color: #403F3D;
}

.offer-section h1 {
  max-width: 800px;
  text-align: center;
}

.offer-buttons-wrapper {
  display: flex;
  gap: 14px;
}

.offer-button,
.size-button,
.additives-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 46px;
  min-width: max-content;
  padding: 8px 16px 8px 8px;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  color: #403F3D;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  transition: 0.6s;
}

.offer-button span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 3px 7px;
  border-radius: 100px;
  background-color: #C1B6AD;
  transition: 0.6s;
}

.active-button span {
  background-color: #E1D4C9;
  color: #403F3D;
}

.active-button {
  color: #E1D4C9;
  background-color: #665F55;
  pointer-events: none;
}

.active-button-animation {
  animation-name: active-button-load;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.additives-button.active-button {
  pointer-events: auto;
}

.active-menu-link-header::after {
  transform: none;
  opacity: 1;
}

.products-block-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 310px;
  height: 506px;
  border: 1px solid #C1B6AD;
  border-radius: 40px;
  transition: 0.4s;
}

.product-img {
  width: 310px;
  height: 310px;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  transition: 0.6s background-size;
}

.product-info-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  height: 196px;
  padding: 20px 19px;
}

.product-price {
  position: absolute;
  left: 19px;
  bottom: 18px;
}

.refresh {
  display: none;
  transition: 0.3s;
}

.refresh-opacity {
  opacity: 0.3;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  transition: 0.5s;
}

.modal-wrapper-on {
  display: block;
}

.modal-wrapper-blackout {
  background-color: rgba(64, 63, 61, 0.80);
}

.modal-coordinates-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-menu {
  position: absolute;
  display: flex;
  max-width: 800px;
  opacity: 0;
  padding: 16px;
  transform: scale(0);
  transform-origin: center;
  border-radius: 40px;
  background-color: #E1D4C9;
}

.modal-menu-closing {
  transform: translateY(-150%) scale3d(0.4, 0.4, 1) !important;
  opacity: 0 !important;
}

.modal-img {
  flex-shrink: 0;
  width: 310px;
  height: 310px;
  border-radius: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
}

.modal-description-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 458px;
  width: 100%;
  padding-left: 20px;
}

.modal-product-info-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-name {
  text-align: left;
}

.size-buttons-block,
.additives-buttons-block {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  width: 100%;
  margin-top: 8px;
}

.size-index,
.additives-index {
  width: 30px;
  height: 30px;
  padding: 3px 7px 3px 8px;
  border-radius: 100px;
  background-color: #C1B6AD;
  color: #403F3D;
  transition: 0.6s;
}

.price-block {
  display: flex;
  justify-content: space-between;
}

.note-block {
  display: flex;
  gap: 8px;
  border-top: 1px solid #C1B6AD;
  padding: 12px 0;
}

.note-block p {
  color: #403F3D;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.note-block svg {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}

.modal-close-button {
  width: 100%;
  height: 44px;
  border: 1px solid #665F55;
  border-radius: 100px;
  text-align: center;
  background-color: transparent;
  color: #403F3D;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition: 0.6s;
}
/* Responsive */
@media screen and (max-width: 1418px) {
  .img-unit-1,
  .img-unit-2,
  .img-unit-3,
  .img-unit-4 {
    width: 560px;
  }

  .main-text,
  .special-text {
    font-size: 3.75rem;
  }

  .footer-container-2 {
    width: 32%;
  }
}

@media screen and (max-width: 1350px) {
  #favorite.main-text {
    text-align: center;
  }

  .mobile-app-section {
    flex-direction: column;
    gap: 100px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    padding: 100px 60px;
  }

  .footer-container-1 {
    width: 100%;
  }

  .footer-container-2 {
    width: max-content;
  }
}

@media screen and (max-width: 1218px) {
  .img-unit-1,
  .img-unit-4 {
    width: 480px;
    height: 530px;
  }

  .img-unit-2,
  .img-unit-3 {
    width: 480px;
    height: 400px;
  }
}

@media screen and (max-width: 1050px) {
  .img-unit-1,
  .img-unit-4 {
    width: 400px;
    height: 400px;
  }

  .img-unit-2,
  .img-unit-3 {
    width: 400px;
    height: 270px;
  }
}

@media screen and (max-width: 900px) {
  .img-unit-1,
  .img-unit-4 {
    width: 330px;
    height: 330px;
  }

  .img-unit-2,
  .img-unit-3 {
    width: 330px;
    height: 200px;
  }

  .modal-menu {
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .enjoy-section {
    padding: 100px 60px;
  }

  .menu-link-enjoy span {
    margin-right: 28px;
  }

  .menu-link-enjoy {
    margin-right: 28px;
  }

  .enjoy-coffee-icon {
    opacity: 1;
  }

  .left-arrow {
    left: 0;
  }

  .right-arrow {
    right: 0;
  }

  .img-unit-1,
  .img-unit-2,
  .img-unit-3,
  .img-unit-4 {
    background-size: 105.5%;
  }

  .mobile-app-section {
    align-items: flex-start;
  }

  #mobile-app {
    width: 688px;
  }

  .mobile-screens {
    align-self: center;
  }

  .mobile-app-info h2 {
    width: 688px;
  }

  .footer-wrapper {
    gap: 98px;
    height: 736px;
  }

  .footer-container-2 {
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 768px) {
  .burger-button {
    display: flex;
  }

  .burger-menu-content {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: calc(100dvh - 100px);
    overflow-y: auto;
    padding: 60px 40px;
    background-color: #E1D4C9;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .burger-menu-active {
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 52px;
  }

  .nav-item a,
  .menu-link-header {
    font-size: 32px;
  }

  .menu-link-header {
    margin-top: -8px;
    gap: 15px;
  }

  .header-coffee-icon {
    width: 40px;
    height: 40px;
    margin: 0;
  }

  .about-img-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .img-unit-2,
  .img-unit-3 {
    display: none;
  }

  .img-unit-1,
  .img-unit-4 {
    width: 688px;
    height: 590px;
  }

  .refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 60px;
    height: 60px;
    border: 1px solid #665F55;
    border-radius: 100px;
  }

  .item-5,
  .item-6,
  .item-7,
  .item-8 {
    display: none;
    transition: none;
  }
}

@media screen and (max-width: 742px) {
  .refresh {
    position: absolute;
    bottom: -100px;
  }

  .footer-menu {
    margin-top: 200px;
  }
}

@media screen and (max-width: 732px) {
  .mobile-app-info h2,
  #mobile-app {
    width: 100%;
  }

  .left-arrow,
  .right-arrow {
    display: none;
  }

  .modal-img {
    display: none;
  }

  .modal-description-block {
    max-width: 100%;
    align-items: center;
  }

  .price-block {
    width: 100%;
  }

  .modal-wrapper {
    padding: 0 19px;
  }
}

@media screen and (max-height: 632px) {
  .modal-menu {
    height: 100svh;
    overflow-y: auto;
    border-radius: 15px;
  }
}

@media screen and (max-width: 690px) {
  .main {
    padding: 0 16px;
  }

  .about-img-block {
    width: 100%;
  }

  .img-unit-1,
  .img-unit-2,
  .img-unit-3,
  .img-unit-4 {
    width: 100%;
    transition: none;
  }

  .mobile-screens {
    width: 530px;
    height: 530px;
  }
}

@media screen and (max-width: 640px) {
  .enjoy-section {
    height: 552px;
    padding: 60px 16px;
  }

  .enjoy-block {
    width: 100%;
  }

  .enjoy-block .main-text,
  .enjoy-block .special-text {
    font-size: 42px;
  }

  .main-text,
  .special-text {
    font-size: 32px;
  }

  .footer-wrapper {
    justify-content: flex-start;
    gap: 40px;
    height: 526px;
    padding: 60px 16px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0px 16px;
  }

  .img-unit-1,
  .img-unit-2,
  .img-unit-3,
  .img-unit-4 {
    background-size: cover;
  }

  .footer {
    padding: 0px 16px 40px 16px;
  }
}

@media screen and (max-width: 540px) {
  .mobile-screens {
    width: 348px;
    height: 348px;
  }

  .slider-wrapper {
    width: 348px;
  }

  .slider-img {
    width: 348px;
    height: 348px;
  }
}

@media screen and (max-width: 442px) {
  .enjoy-block .main-text {
    line-height: 114%;
  }

  .mobile-app-section {
    gap: 40px;
  }

  .mobile-app-links {
    flex-direction: column;
  }

  .footer-container-1 {
    width: 100%;
  }

  .footer-container-2 {
    margin: 0;
  }

  .offer-buttons-wrapper {
    gap: 6px;
  }

  .offer-section h1 {
    width: 348px;
  }

  .modal-menu {
    padding: 16px 0;
  }

  .modal-description-block {
    align-items: flex-start;
    padding: 0 16px;
  }
}

@media screen and (max-width: 410px) {
  .img-unit-1,
  .img-unit-2,
  .img-unit-3,
  .img-unit-4 {
    background-size: 209%;
  }
}

@media (hover: hover) {
  .menu-link-header {
    cursor: pointer;
  }

  .active-menu-link-header {
    cursor: default;
  }

  .nav-item a {
    cursor: pointer;
  }

  .burger-button {
    cursor: pointer;
  }

  .link:hover::after,
  .link-footer:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }

  .menu-link-enjoy {
    cursor: pointer;
  }

  .menu-link-enjoy:hover span {
    margin-right: 28px;
  }

  .menu-link-enjoy:hover .enjoy-coffee-icon {
    opacity: 1;
  }

  .left-arrow:hover path,
  .right-arrow:hover path {
    stroke: #E1D4C9;
  }

  .left-arrow,
  .right-arrow {
    cursor: pointer;
  }

  .left-arrow:hover,
  .right-arrow:hover {
    fill: #665F55;
  }

  .img-unit-1:hover,
  .img-unit-2:hover,
  .img-unit-3:hover,
  .img-unit-4:hover {
    background-size: 100%;
  }

  .app-store-block,
  .google-play-block {
    cursor: pointer;
  }

  .app-store-block:hover,
  .google-play-block:hover {
    background-color: #665F55;
  }

  .app-store-block:hover .app-icon path,
  .google-play-block:hover .app-icon path {
    fill: #E1D4C9;
  }

  .app-store-block:hover .app-description-block p,
  .google-play-block:hover .app-description-block p {
    color: #E1D4C9;
  }

  .social-link-wrapper {
    cursor: pointer;
  }

  .social-link-wrapper:hover {
    background-color: #E1D4C9;
  }

  .social-link-wrapper:hover .social-link path {
    stroke: #403F3D;
  }

  .link-footer {
    cursor: pointer;
  }

  .offer-button,
  .size-button,
  .additives-button {
    cursor: pointer;
  }

  .active-button {
    cursor: default;
  }

  .additives-button.active-button {
    cursor: pointer;
  }

  .offer-button:hover,
  .size-button:hover,
  .additives-button:hover {
    background-color: #665F55;
    color: #E1D4C9;
  }

  .offer-button:hover span,
  .size-button:hover span,
  .additives-button:hover span {
    background-color: #E1D4C9;
  }

  .modal-close-button {
    cursor: pointer;
  }

  .modal-close-button:hover {
    background-color: #665F55;
    color: #E1D4C9;
  }

  .product-item {
    cursor: pointer;
  }

  .product-item:hover .product-img {
    background-size: 100%;
  }

  .refresh {
    cursor: pointer;
  }
}

@keyframes active-button-load {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}